$primaryColor: #03b1b2;
$yellow: #ffbd00;
$green: #3e8431;
$textBlack: #112734;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Figtree";
}
body {
  background: url(./images/Ellipse-18.png), url(./images/Ellipse-19.png);
  background-repeat: repeat-y;
  background-size: auto, cover;
  height: 2000px;
}
.App {
  margin: 0px 60px;
}
h1{
  font-size: 64px;
  font-weight: 700;
}
p{
  font-size: 20px;
  font-weight: 400;
}
span{
  color: $primaryColor;
}
button {
  font-size: 24px;
  font-weight: 600;
  // width: 194px;
  padding: 10px  50px;
  margin-top: 15px;
  color: $textBlack;
  background-color: transparent;
  border: 1px solid $textBlack;
  border-radius: 50px;
}
.text-center{
  text-align: center;
}
section{
  margin: 70px  0px;
}
.d-flex{
  display: flex;
}

// NavBar  Style
.navbar {
  align-items: center;
  justify-content: space-between;
  height: 105px;
  div,
  ul {
    align-items: center;
    .logo-text {
      font-size: 20px;
      line-height: 24px;
      margin: 5px;
    }

    li {
      list-style: none;
      font-size: 16px;
      padding: 10px;
      line-height: 19px;
      .link {
        text-decoration: none;
        color: #4c4e4b;
      }

      .link:active,
      .link:hover {
        color: $textBlack;
      }
    }
    li:nth-child(5) {
      width: 130px;
      background: $primaryColor;
      border-radius: 97px;
      padding: 20px;
      .link {
        font-weight: 800;
        cursor: pointer;
        color: white;
      }
    }
  }

 
}

// Home page----------------------------------------------------
.home-page {
  .main {
    align-items: center;
    width: 100%;
    
    .home-text {
      .small-text {
        font-size: 22px;
        font-weight: 600;
      }
      .big-text {
        font-size: 102px;
        font-weight: 800;
        line-height: 104px;
        text-align: justify;
      }
      p {
        width: 500px;
        font-size: 20px;
        line-height: 24px;
      }
     
    }
    
    .home-image {
      margin: auto;
      width: 671px;
      height: 671px;
      .home-vector {
        animation: rotation 20s linear infinite;
        position: absolute;
        z-index: -1;
      }
      .dadadsasdad {
        margin: 80px 0px 0px 100px;
      }
    }
  }

  .section-1{
    h1{
      font-size: 64px;
      line-height: 64px;
    }
  }
 
  .section-3{
    .outer-div{
      margin-top: 80px;
    }
  }
  .section-4{
    .outer-div{
      background-color: #ffffff;
      border-radius: 35px;
      padding: 30px;
      justify-content:start ;
      align-items: center;
      // text-align: center;
      text-indent: 10px;
      h1{
        font-size: 62px;
        font-weight: 500;
      }
      .inner-div-1{
        margin-left: 10%;
        .inner-div-2{
          .inner-div-3{
            align-items: center;
          }
          p{
            margin: 10px 0px;
            span{
              color: #3e8431;
            }
            .e-time::after{
              content: "____";
              color: $textBlack;
              position: relative;
              top: 10px;
              right: 30px;
            }
          }
          margin: 30px 0px;
        }
      }
    }
  }

  
}
// cart-----------------------------
.cart{
  width: 320px;
  height: 382px;
  background-color: #ffffff;
  border-radius: 35px;
  margin: 30px auto;
  padding-top: 20px;
  h2,img,p{
    margin: 20px auto;
  }
  p{
    width: 249px;
  }
}
.cart-2{
  width: 250px;
  height: 350px;
  border-radius: 125px;
  transition: all 1s;
}
.cart-2:hover{
  margin-top: -80px;
  background-color: $primaryColor;
  color: #ffffff;
  img{
 filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
}

// ------Section 2 use in home page and other
.section2{
  margin: 0px 0px; 
  align-items: center;
  justify-content:space-evenly;
  height: 500px;
  .text-part{
    text-align:start;
    p{
      width: 570px;
    }
  }
  .image-part{
    position: relative;
    .img1{
      width: 575.87px;
      height: 343.75px;
      animation: move-up-left 10s ease-in-out;
    }
    .img2{
      width: 500px;
      height: 343.75px;
      z-index: -1;
      position: absolute;
      right: 10px;
      animation: move-down-right 10s ease-in-out;
    }
    
  }
}

// Footer
.footer{
 
  .div-1{
    justify-content: space-between;
}
ul{
  list-style: none;
}
.link,img{
  text-decoration: none;
  color: $textBlack;
  margin-right:20px;
  margin-bottom: 10px;
}
}
// Animations----------------------------------------------------------
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes move-down-right {
  0%{}
  50% {
    margin-top:  100px;
    margin-right: -100px;
  }
  100%{}
}
@keyframes move-up-left {
  0%{}
  50% {
    margin-bottom:  100px;
    margin-left: -50px;
  }
  100%{}
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

} */
